html {
    box-sizing: border-box;
    height: 100%;
    overflow:hidden;
}

body {
    user-select: none;
    height: 100%;
    margin: 0;
}

.hidden {
    display: none !important;
}

@media (max-width: 700px) {
    #container {
        grid-template-columns: 32vw 32vw 32vw;
        grid-auto-rows: 32vw;
        grid-template-areas:"ball ball umbr" 
                            "ball ball umbr"
                            "rect circ .   "
                            ".    .    .   "
                            ".    .    .   "
                            ".    .    .   ";
    }
}

@media (min-width: 700px) {
    #container {
        grid-template-columns: 24vw 24vw 24vw 24vw;
        grid-auto-rows: 24vw;
        grid-template-areas:"ball ball rect umbr" 
                            "ball ball circ umbr"
                            ".    mirr .    .   "
                            ".    .    .    .   "
                            ".    .    .    .   "
                            ".    .    .    .   ";
    }
}

@media (min-width: 1000px) {
    #container {
        grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
        grid-auto-rows: 19vw;
        grid-template-areas:"ball ball .    umbr rect" 
                            "ball ball circ umbr .   "
                            ".    mirr .    .    .   "
                            ".    .    .    .    .   "
                            ".    .    .    .    .   "
                            ".    .    .    .    .   ";
    }
}

@media (min-width: 1400px) {
    #container {
        grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
        grid-auto-rows: 16vw;
        grid-template-areas:"ball ball .    umbr rect ." 
                            "ball ball circ umbr .    ."
                            ".    mirr .    .    .    ."
                            ".    .    .    .    .    ."
                            ".    .    .    .    .    ."
                            ".    .    .    .    .    .";
    }
}

#container {
    height: 100%;
    display: grid;
    background: black;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-gap: 10px;
}

#container::-webkit-scrollbar {
    background: black;
    width: 5px;
    margin: 20px 5px 20px 5px;
}
#container::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
    border-radius: 20px;
}
#container::-webkit-scrollbar-track {
    background: rgb(50, 50, 50);
    border-radius: 20px;
}

.card.blank {
    background: linear-gradient(to bottom right, rgb(70, 70, 70), rgb(50, 50, 50));
}

.card:hover {
    cursor: pointer;
}

.card > img {
    width: 100%;
    height: 100%;
}

.card > .title {
    position: relative;
    float: right;
    color: white;
    top: -25px;
    left: -5px;
    color:rgba(200, 200, 200, 0.6);
    font-size: 12px;
    font-weight: bold;
}

.card > .title.dark {
    color: rgba(0, 0, 0, 0.6)
}

.card > .title::before {
    content: "Made by ";
}

.card {
}

#balloonArt { grid-area: ball; }
#circleArt { grid-area: circ; }
#umbrellaArt { grid-area: umbr; }
#rectangleArt { grid-area: rect; }
#mirrorArt { grid-area: mirr; }

#p5Container {
    overflow: hidden;
}

.topBtn { 
    position:fixed;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

.topBtn:hover {
    background: rgb(230, 230, 230);
}

.backBtn {
}

