html {
    height: 100%;
}

body {
    user-select: none;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.hidden {
    display: none;
}

@media (max-width: 767px){
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

#mainContainer {
    height: 100%;
    overflow-y: scroll;
}

.mainArtCard {
    margin: 10px;
    display: inline-block;
    width: 200px;
    height: 250px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 7px black;
}

.mainArtCard:hover:not(.empty) {
    transform: scale(1.05, 1.05);
}

.mainArtCard:active:not(.empty) {
    transform: scale(1, 1);
}

.mainArtCard > .title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
}

.mainArtCard > img {
    width: 100%;
    height: 60%;
}

.mainArtCard > .maker {
    margin: 25px 5px 0;
    text-align: right;
    color:rgb(150, 150, 150);
    font-size: 10px;
    font-weight: bold;
}

.mainArtCard > .maker::before {
    content: "Made by ";
}

.backBtn {
    background: white;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
}

.backBtn:hover {
    background: rgb(230, 230, 230);
    font-size: 22px;
}